/* this is a comment */

a:visited {    color: rgb(73, 13, 13);}
a:link{    color: rgb(73, 13, 13);}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(90, 45, 45);
}

header
{
background-color: grey;
}


h1
{
text-align: center;
color: pink;
font-size: 40px;
height: 100px;
}

nav
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}


.container 
{
    display: grid;
    grid-template-columns: 25% 75%;
}

.aside
{
    background-color: whitesmoke;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}


.main_section
{
    background-color: whitesmoke;
    text-align: center;
    font-size: 20px;
}


footer
{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 20px;

}



